@use '@/styles/typography' as *;
@use '@/styles/variables.scss' as *;
@use '@/styles/mixins' as *;

.search {
  width: 100%;
  max-width: 550px;

  &__label {
    display: block;
    color: $secondary;
  }

  &__field {
    box-shadow: none;
    border: 1px solid hsla(206, 12%, 74%, 1);
    box-sizing: border-box;
    padding: 9px 12px 9px;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &:hover {
      border-color: hsla(206, 8%, 57%, 1);
    }

    &:focus {
      border-color: hsla(227, 6%, 20%, 1);
    }

    &:active {
      border-color: hsla(227, 6%, 20%, 1);
    }
  }
}

input {
  border: none;
  outline: none;
  flex: 1;
}
