@use '@/styles/variables.scss' as *;
@use '@/styles/_typography.scss' as *;
@use '@/styles/mixins.scss' as *;

.contactsContainer {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 24px;
  color: var(--primary);
}

.contactsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  max-width: 1024px;
  width: 100%;

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}

.contactCard {
  background-color: var(--disabled-btn);
  box-shadow: 0 4px 6px var(--secondary);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactPhoto {
  width: 96px;
  height: 96px;
  object-fit: cover;
  margin-bottom: 16px;
}

.contactName {
  @include font-style(h3);
}

.contactButton {
  @include font-style(small);
  background-color: #ffffff;
  border: 1px solid $elements;
  transition: border 0.3s;
  cursor: url('@/../public/img/cursor-pointer.png'), auto;

  &:hover {
    border: 1px solid $secondary;
  }
}

.contactCardWrapper {
  position: relative;
}

.contactDescriptionOverlay {
  @include font-style(body);
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  background-color: var(--disabled-btn);
  padding: 16px;
  margin-top: 8px;
  box-shadow: 0 4px 10px var(--secondary);
  z-index: 10;
  text-align: center;
  pointer-events: auto;

  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
