@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;
@use '@/styles/mixins.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 0;
  @include on-tablet {
    height: auto;
    width: 33%;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.title {
  margin: 0 0 4px;

  color: $primary;
  @include font-style(h4);
}
.text {
  color: $secondary;
}

.imageBox {
  padding: 50%;
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
  transition:
    transform $duration,
    box-shadow $duration;

  &.phones {
    background-color: #6d6474;
  }
  &.tablets {
    background-color: #8d8d92;
  }
  &.accessories {
    background-color: #973d5f;
  }
  &:hover {
    transform: scale(1.03);
    box-shadow: 0px 3px 13px 0px $shadow;
  }
}
.image {
  display: block;
  position: absolute;
  top: 5%;
  left: 5%;

  &.phones {
    display: block;
    position: absolute;
    width: 150%;
    height: 150%;
    top: 1%;
    left: -7%;
  }
  &.tablets {
    display: block;
    position: absolute;
    top: 10%;
    left: 9%;
    width: 107%;
  }
  &.accessories {
    object-fit: contain;
    width: 180%;
    height: 117%;
    background-color: #973d5f;
    left: 12%;
    top: 0%;
  }
}
