@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;

.Overlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
  background-color: var(--gray-1);
  border-radius: 6px;
  box-shadow: var(--shadow-6);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  &:focus {
    outline: none;
  }
}

.Title {
  margin: 0;
  color: var(--mauve-12);
  font-size: 17px;
  font-weight: 500;
}

.Description {
  margin-bottom: 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}
.btnHolder {
  button {
    flex: 1;
  }
}

.Cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--mauve-1);
  color: var(--mauve-12);
  border-radius: 6px;
  border: 1px solid var(--mauve-3);
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;

  &:hover {
    background-color: var(--mauve-2);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }

  &:focus {
    outline: none;
  }
}

.Button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 40px;
  user-select: none;
  transition:
    box-shadow 400ms,
    background-color 400ms;
  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid $elements;
    outline-offset: 1px;
  }

  &:global(.green) {
    color: $green;
    border: 1px solid $elements;
    &:hover {
      box-shadow: 0px 3px 13px 0px $shadow;
    }
  }

  &:hover {
    cursor: url('@/../public/img/cursor-pointer.png'), auto;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
