@use '@/styles/typography' as *;
@use '@/styles/variables.scss' as *;

.selectorContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.featureContainer {
  display: flex;
  gap: 8px;
}

.label {
  color: $secondary;
  margin-bottom: 8px;
  @include font-style(small);
}

.checkbox {
  display: flex;
  text-decoration: none;
  border: 1px solid $elements;
  height: 32px;
  width: 60px;
  justify-content: center;
  align-items: center;
  color: inherit;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: url('@/../public/img/cursor-pointer.png'), auto;
  transition:
    border-color 400ms,
    background-color 400ms;

  &:hover {
    border-color: $primary;
  }

  @include font-style(button);
}

.active {
  background-color: $primary;
  color: $white;
  pointer-events: none;
}
