@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;
@use '@/styles/mixins' as *;

.emptyCart {
  margin: 100px auto 50px;
  text-align: center;

  @include on-tablet {
    margin: 50px auto 20px;
  }

  &__icon {
    color: $secondary;
    width: 100px;
    height: 100px;

    @include on-tablet {
      width: 200px;
      height: 200px;
    }
  }

  &__title {
    @include font-style(h2);
  }
}
