@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;

.techspecs {
  &__title {
    margin-bottom: 16px;
    @include font-style(h3);
  }

  &__list {
    padding: 25px 0 0;
    border-top: 1px solid $elements;
    margin: 0;
  }

  &__row {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
  }

  &__key {
    margin: 0;
    color: $secondary;
    font-weight: 500;
    padding-right: 5px;
  }

  &__value {
    margin: 0;
    color: var(--primary);
    padding-left: 5px;
    text-align: right;
  }

  &__inside {
    .techspecs__list {
      padding: 0;
      border: none;
    }
    .techspecs__key,
    .techspecs__value {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
