@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;
@use '@/styles/mixins' as *;

.dropdown {
  width: 100%;
  max-width: 136px;
  @include on-desktop {
    max-width: 128px;
  }

  &__big {
    @include on-tablet {
      max-width: 187px;
    }

    @include on-desktop {
      max-width: 176px;
    }
  }

  &__label {
    display: block;
    color: $secondary;
  }
}
.dropdown__label {
  display: block;
  color: $secondary;
}
.selectTrigger {
  padding: 9px 12px 8px;
  border: 1px solid hsla(206, 12%, 74%, 1);
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    color: var(--primary-on-light);
  }

  span {
    display: flex;
  }

  &:hover {
    border-color: hsla(206, 8%, 57%, 1);
  }

  &:focus {
    border-color: hsla(227, 6%, 20%, 1);
  }

  &:focus-visible {
    outline: none;
  }

  @include font-style(body);
}

.selectContent {
  background-color: $white;
  width: var(--radix-select-trigger-width);
  border: 1px solid hsla(206, 14%, 90%, 1);
  box-shadow: 0px 2px 15px 0px hsla(0, 0%, 0%, 0.05);
  padding: 8px 0;
}

.selectItem {
  color: $secondary;
  padding: 6px 12px 5px;
  transition:
    background-color,
    color 400ms;
  &:hover {
    color: var(--primary);
    background-color: hsla(210, 25%, 98%, 1);
    cursor: url('@/../public/img/cursor-pointer.png'), auto;
    outline: none;
  }
  &:focus-within,
  &:focus-visible {
    outline: none;
  }
}
