@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;

.dropdown {
  &__label {
    display: block;
    color: $secondary;
  }
}
.dropdown__label {
  display: block;
  color: $secondary;
}
.selectTrigger {
  padding: 9px 12px 8px;
  border: 1px solid hsla(206, 12%, 74%, 1);
  background-color: $white;
  min-width: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    display: flex;
  }

  &:hover {
    border-color: hsla(206, 8%, 57%, 1);
  }

  &:focus {
    border-color: hsla(227, 6%, 20%, 1);
  }

  &:focus-visible {
    outline: none;
  }

  @include font-style(body);

  @media (min-width: 320px) {
    min-width: 187px;
  }
}

.selectContent {
  background-color: $white;
  width: var(--radix-select-trigger-width);
  border: 1px solid hsla(206, 14%, 90%, 1);
  box-shadow: 0px 2px 15px 0px hsla(0, 0%, 0%, 0.05);
  padding: 8px 0;
  transform: translateX(-10px);
}

.selectItem {
  color: $secondary;
  padding: 6px 12px 5px;
  transition:
    background-color,
    color 400ms;
  &:hover {
    color: $primary;
    background-color: hsla(210, 25%, 98%, 1);
    cursor: url('@/../public/img/cursor-pointer.png'), auto;
    outline: none;
  }
}
