@use './variables.scss' as *;
@use './mixins.scss' as *;

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 48px;

  @include on-desktop {
    padding-top: 65px;
  }
}

a {
  cursor: url('@/../public/img/cursor-pointer.png'), auto;
}

::selection {
  background-color: $secondary;
  color: $white;
}

::-ms-selection {
  background-color: $secondary;
  color: $white;
}
