@use '@/styles/variables.scss' as *;

$border-color: #e0e0e0;
$text-secondary: #8b96a5;
$text-primary: #313237;
$font-size: 14px;
$icon-size: 16px;
$link-weight: 600;
$link-spacing: 1px;
$active-border-height: 3px;
$footer-height: 48px;
$menu-padding: 18px;

.firstVariantLink {
  margin: 5px;
  text-decoration: none;
  color: $secondary;

  &.active {
    color: $primary;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid $border-color;
  height: 64px;
}

.navLeft {
  display: flex;
  gap: 24px;
  padding: 10px 0 0 24px;
}

.logo {
  width: 128px;

  img {
    width: 80px;
    height: auto;
  }
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 64px;
}

.link {
  position: relative;
  text-decoration: none;
  color: $secondary;
  font-weight: 800;
  font-size: $font-size;
  letter-spacing: $link-spacing;

  &.active {
    color: $primary;

    &::after {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 100%;
      height: $active-border-height;
      background-color: $primary;
    }
  }
}

.navRight {
  display: flex;
  align-items: stretch;

  .iconWrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $menu-padding;
    border-left: 1px solid $border-color;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      &.active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $active-border-height;
        background-color: $primary;
      }
    }
  }
}

.icon {
  width: $icon-size !important;
  height: $icon-size !important;
  color: black;
}

.mobileMenu {
  display: none;
}

.menuButton {
  display: none;
}

@media (max-width: 850px) and (min-width: 640px) {
  .header {
    height: 48px;
  }

  .logo {
    width: 96px;

    img {
      width: 64px;
      height: auto;
    }
  }

  .navLeft {
    gap: 16px;
    padding: 10px 0 0 16px;
  }

  .navRight {
    .iconWrapper {
      padding: 10px;
    }
  }

  .navLinks {
    gap: 32px;
  }

  .link {
    &.active {
      &::after {
        bottom: -8px;
      }
    }
  }
}

@media (max-width: 640px) {
  .header {
    height: 48px;
  }

  .logo {
    width: 96px;

    img {
      width: 64px;
      height: auto;
    }
  }

  .navLeft {
    gap: 16px;
    padding: 10px 0 0 16px;
  }

  .navLinks,
  .iconWrapper {
    display: none !important;
  }

  .menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $menu-padding;
    border-left: 1px solid $border-color;
    cursor: pointer;
    padding: 10px;
  }

  .mobileMenu {
    position: absolute;
    top: $footer-height;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - #{$footer-height});
    z-index: 999;
    border-top: 1px solid $border-color;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &.active {
      transform: translateX(0);
    }
  }

  .mobileMenuLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 48px;

    a {
      text-decoration: none;
      color: $text-secondary;
      font-size: $font-size;
      font-weight: $link-weight;
      letter-spacing: $link-spacing;

      &.active {
        color: $text-primary;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $text-primary;
        }
      }
    }
  }

  .mobileMenuFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    height: 64px;
    padding: 0;

    .footerButton {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      text-decoration: none;

      &.active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $active-border-height;
        background-color: $text-primary;
      }

      .icon {
        width: $icon-size;
        height: $icon-size;
        color: $text-primary;
      }
    }

    .divider {
      width: 1px;
      height: 100%;
      background-color: $border-color;
    }
  }
}
