@use '@/styles/typography' as *;
@use '@/styles/variables.scss' as *;
@use '@/styles/mixins' as *;

.catalog {
  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 32px;
    grid-column: 1 / span 4;

    @include on-tablet {
      margin-top: 40px;
      grid-column: 1 / span 12;
    }

    @include on-desktop {
      margin-top: 40px;
      grid-column: 1 / span 24;
    }
  }

  &__pagination {
    margin-top: 32px;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__gridWrapper {
    position: relative;
    grid-column: 1 / -1;
    min-height: 500px;
    margin-top: 24px;
  }

  &__localOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
}

.pageButton {
  width: 32px;
  height: 32px;
  border: 1px solid $elements;
  background-color: transparent;
  color: var(--primary);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 1px;

  &:hover {
    border-color: var(--primary-on-light);
  }

  &.active {
    background-color: #313237;
    color: #fff;
    border: 1px solid #313237;
  }
}

.arrowButtonLeft {
  margin-right: 9px;
}

.arrowButtonRight {
  margin-left: 9px;
}

.spinner {
  animation: spin 2s linear infinite;
  width: 40px;
  height: 40px;
  color: $icons;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
