@use '@/styles/variables.scss' as *;

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--bg-checkbox);
  border: 1px solid $icons;
  stroke: inherit;
  flex: 0 0 40px;
  cursor: url('@/../public/img/cursor-pointer.png'), auto;
  transition:
    fill 400ms,
    border-color 400ms;

  &:hover {
    border-color: var(--primary-on-light);
  }

  & svg {
    height: 16px;
    width: 16px;
    color: var(--primary);
  }
}

.liked svg {
  fill: $red;
  stroke: $red;
  border-color: $elements;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s linear infinite;
  width: 20px;
  height: 20px;
}
