@use '@/styles/variables.scss' as *;

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $white;
  border: 1px solid $icons;
  stroke: $primary;
  flex: 0 0 40px;
  cursor: pointer;
  transition:
    fill 400ms,
    border-color 400ms;

  &:hover {
    border-color: $primary;
  }

  & svg {
    height: 16px;
    width: 16px;
  }
}

.liked svg {
  fill: $red;
  stroke: $red;
  border-color: $elements;
}
