@use '@/styles/variables.scss' as *;

.box {
  width: 100%;
  box-shadow: 0 -1px 0px $elements;
}

.linkList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  margin: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: $secondary;
}
