@use '@/styles/variables.scss' as *;
@use '@/styles/_typography.scss' as *;
@use '@/styles/mixins.scss' as *;

$botton-size: 32px;

.box {
  width: 100%;
  box-shadow: 0 -1px 0px $elements;
  padding: 32px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.section {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
  @include on-tablet {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.logoImage {
  width: 89px;
  height: auto;
}
.linkList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  @include on-tablet {
    flex: 1;
    flex-direction: row;
    justify-content: center;
  }
}
.linkItem {
  text-decoration: none;
  color: $secondary;
  text-transform: uppercase;
  transition: color $duration;
  @include font-style(uppercase);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include on-tablet {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
  @include on-desktop {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 106px;
    }
  }
  &:hover,
  :focus {
    color: $primary;
  }
}

.toTopContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.toTopText {
  color: $secondary;
  margin: 0;
  margin-right: 16px;
  @include font-style(small);
}

.toTopButton {
  border: 1px solid $icons;
  width: $botton-size;
  height: $botton-size;
  cursor: pointer;
  transition: border-color $duration;
  color: $primary;

  &:hover {
    border-color: $primary;
  }
}
