@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;

.button {
  display: flex;
  text-decoration: none;
  border: 1px solid $elements;
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
  color: inherit;
  box-sizing: border-box;
  cursor: url('@/../public/img/cursor-pointer.png'), auto;
  transition:
    border-color 400ms,
    background-color 400ms;

  & svg {
    height: 16px;
    width: 16px;
    stroke: var(--primary);
  }

  &:hover {
    border-color: var(--primary);
  }

  &.disabled {
    pointer-events: none;
    background-color: $white;
    cursor: not-allowed;

    svg {
      stroke: $icons;
    }
  }

  &.big {
    height: 40px;
    width: 40px;
  }

  @include font-style(button);
}

.active {
  background-color: var(--primary);
  color: $white;
  pointer-events: none;
}
