@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;

.button {
  display: flex;
  height: 16px;
  width: 50px;
  color: var(--secondary);
  align-items: flex-end;
  justify-content: space-between;
  cursor: url('@/../public/img/cursor-pointer.png'), auto;
  transition: color 0.4s;

  & svg {
    height: 16px;
    width: 16px;
    stroke: var(--primary);
    transition: transform 0.4s;
  }

  &:hover {
    color: var(--primary);

    svg {
      transform: translateX(-3px);
    }
  }

  @include font-style(small);
}
