@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;

.button {
  display: flex;
  height: 16px;
  width: 50px;
  color: $secondary;
  align-items: flex-end;
  justify-content: space-between;
  cursor: url('@/../public/img/cursor-pointer.png'), auto;

  & svg {
    height: 16px;
    width: 16px;
    stroke: $primary;
  }

  &:hover {
    color: $primary;
  }

  @include font-style(small);
}
