@use '@/styles/variables' as *;
$box-size: 28px;
$icon-size: 14px;

.iconLink {
  position: relative;
  border: none;
  color: var(--icon-color);
  width: $box-size;
  height: $box-size;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    width: $icon-size;
    height: $icon-size;
  }
}
