@use './styles/_typography.scss' as *;
@use './styles/mixins.scss' as *;
@use './styles/custom-body.scss';
@use 'normalize.css';
@use './styles/variables.scss' as *;
@use './styles/theme.scss' as *;

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  cursor: url('@/../public/img/cursor.png'), auto;
  @include font-style(body);
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  margin-bottom: 64px;
  margin-top: 24px;

  @include on-tablet {
    margin-bottom: 64px;
    grid-template-columns: repeat(12, 1fr);
  }

  @include on-desktop {
    margin-bottom: 80px;
    grid-template-columns: repeat(24, 1fr);
  }
}
