@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;

.totalPrice {
  margin: 0;
  @include font-style(h2);
}
.discount {
  display: inline-block;
  color: $green;
  padding: 5px 20px;
  margin: 0 auto 20px;
  border: 1px solid $icons;

  @include font-style(h4);
}

.totalAmount {
  color: $secondary;
  margin: 0 0 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid $elements;
}
