@use '@/styles/variables.scss' as *;
@use '@/styles/typography' as *;

.checkbox {
  display: flex;
  text-decoration: none;
  border: 1px solid $elements;
  height: 32px;
  width: 60px;
  justify-content: center;
  align-items: center;
  color: inherit;
  box-sizing: border-box;
  cursor: url('@/../public/img/cursor-pointer.png'), auto;
  transition:
    border-color 400ms,
    background-color 400ms;

  &:hover {
    border-color: $primary;
  }

  @include font-style(button);
}

.active {
  background-color: $primary;
  color: $white;
  pointer-events: none;
}
